<launch>
	<param name="contact_threshold" value="100" />
	<param name="yaml_dir" value="$(find reflex_driver)/yaml" />
	<rosparam file="$(find reflex_driver)/yaml/motor_constants.yaml" command="load"/>
	<rosparam file="$(find reflex_driver)/yaml/finger_calibrate.yaml" command="load"/>
	<rosparam file="$(find reflex_driver)/yaml/tactile_calibrate.yaml" command="load"/>

	<node name="driver_node" pkg="reflex_driver" type="reflex_driver_node" output="screen"/>
</launch>
