<!-- nodes and parameters for reflex -->
<launch>

  <param name="contact_threshold" value="5" />
  <rosparam file="$(find reflex_base)/yaml/reflex.yaml" command="load"/>
  <rosparam file="$(find reflex_base)/yaml/takktile_cal.yaml" command="load"/>

  <!-- A) Uncomment reflex_hand_node.launch to start reading the hand data from ethernet and commanding motors (DEFAULT) -->
  <include file="$(find reflex_driver)/launch/reflex_driver.launch"/>
  <!-- B) Uncomment spoof_rhr_data . Choose this or reflex_hand_node -->
  <node name="spoof_rhr_data" pkg="rhr_visualization" type="spoof_rhr_data.py"/>

  <!-- A) Uncomment reflex_base to only use the basic motions and commands. Choose this or reflex smarts -->
  <!-- <node name="reflex_base"            pkg="reflex_base"       type="reflex_base.py"         output="screen"/> -->
  <!-- B) Uncomment reflex_smarts to have access to reflex_base plus some pre-programmed moves like 'open' and 'tighten' (DEFAULT) -->
  <node name="reflex_smarts"          pkg="reflex_base"       type="reflex_smarts.py"       output="screen"/>

  <!-- A) Uncomment these lines to view the tf frames in rviz -->
  <!-- <node name="reflex_tf_broadcaster"  pkg="reflex_base"       type="reflex_tf_broadcaster"  output="screen"/>
  <node name="rviz"                   pkg="rviz" type="rviz"  args="-d $(find reflex_base)/urdf.rviz"  output="screen"/> -->
  <!-- B) Uncomment this line to use the visualizer. Cannot be used at the same time as the other rviz call. Check the RightHand
  Robotics website + tutorial for where to download the visualizer code-->
  <!-- <include file="$(find rhr_visualization)/launch/rhr_viz.launch"/> -->

</launch>

