<!-- nodes and parameters for reflex -->
<launch>
  <rosparam file="$(find reflex_actuators)/reflex.yaml" command="load"/>
  <node name="reflex_actuators" pkg="reflex_actuators" type="reflex_actuators.py" output="screen" respawn="true"/>
  <node name="reflex_joints" pkg="reflex_sensing" type="joints.py" output="screen"/>
  <node name="reflex_tactile" pkg="reflex_sensing" type="tactile.py" output="screen"/>
  <node name="reflex_viz" pkg="reflex_smarts" type="viz_reflex.py" output="screen"/>
  <node name="reflex_smart" pkg="reflex_smarts" type="reflex_smart.py" output="screen"/>
  <node name="interface" pkg="hbl_adl" type="primitive_wrapper2.py" output="screen"/>
</launch>

