<launch>
  <rosparam file="$(find reflex)/yaml/tf_geometry.yaml" command="load"/>
  <rosparam file="$(find reflex)/yaml/reflex_takktile.yaml" command="load" ns="hand1"/>
  
  <include file="$(find reflex_driver)/launch/reflex_driver.launch"/>
  <node name="takktile_node_hand1" pkg="reflex" type="takktile_node_hand1.py" output="screen" required="true" />
  
</launch>