<launch>
  <rosparam command="load" file="$(find reflex)/yaml/tf_geometry.yaml"/>
  <rosparam command="load" file="$(find reflex)/yaml/reflex_takktile2.yaml"/>

  <arg name="eth" default="eth0"/>
  <include file="$(find reflex_driver2)/launch/reflex_takktile2_driver.launch">
  	<arg name="eth" value="$(arg eth)"/>
  </include>

  <node name="reflex_takktile_hand2" pkg="reflex" type="reflex_takktile_hand2.py" output="screen" required="true" />
</launch>
