<launch>
  <rosparam command="load" file="$(find reflex)/yaml/tf_geometry.yaml"/>
  <rosparam command="load" file="$(find reflex)/yaml/reflex_takktile.yaml"/>

  <arg name="eth" default="eth0"/>
  <include file="$(find reflex_driver)/launch/reflex_takktile_driver.launch">
  	<arg name="eth" value="$(arg eth)"/>
  </include>

  <node name="reflex_takktile_hand" pkg="reflex" type="reflex_takktile_hand.py" output="screen" required="true" />  
</launch>
